<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="text-center">
          <img [src]="image || '../../assets/images/user_default.png'" alt="" class="img-fluid rounded-circle border"
            style="width: 200px; height: 200px">
        </div>
        <div class="my-3 d-flex justify-content-center">
          <input type="file" class="d-none" accept=".jpg, .jpeg, .png" (change)="imageSelected($event)" #fileInput>
          <button type="button" class="btn btn-outline-secondary" (click)="fileInput.click()">Change Image</button>
        </div>
      </div>

      <div class="col-sm-12 col-md-8">
        <form [formGroup]="profileForm" (submit)="updateProfile()">
          <div class="form-group col-sm-12 col-md-8">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group col-sm-12 col-md-8">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email">
          </div>
          <div class="form-group col-sm-12 col-md-8">
            <label>Phone Number</label>
            <input type="text" class="form-control" formControlName="phoneNumber">
          </div>

          <div class="col-sm-12 col-md-8">
              <button type="submit" class="btn btn-success float-right"><i class="fa fa-save"></i> Save Profile</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>