.login-body {
    /* margin-left: -250px; */
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width : 574px) {
    .login-body {
        padding: 0 20px;
    }
}

.login-card {
    height: 440px;
    background-color: #ffffff;
    border: 2px solid #dee4ea !important;
    border-radius: 5px;
    width: 400px;
    margin-top: 50px;
    padding-top: 10px;
}