<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12">
        <form [formGroup]="passwordForm">
          <div class="form-group row">
            <label class="col-sm-12 col-md-4 col-form-label text-md-right">Current Password</label>
            <div class="col-sm-12 col-md-6">
              <input type="password" class="form-control" formControlName="oldPassword" [class.invalid-input]="passwordForm.controls.oldPassword.dirty && passwordForm.controls.oldPassword.invalid">
              <div class="invalid-msg" *ngIf="passwordForm.controls.oldPassword.dirty && passwordForm.controls.oldPassword.errors">
                  <div *ngIf="passwordForm.controls.oldPassword.errors.required">
                      This field is required
                  </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-md-4 col-form-label text-md-right">New Password</label>
            <div class="col-sm-12 col-md-6">
                <input type="password" class="form-control" formControlName="newPassword" [class.invalid-input]="passwordForm.controls.newPassword.dirty && passwordForm.controls.newPassword.invalid">
                <div class="invalid-msg" *ngIf="passwordForm.controls.newPassword.dirty && passwordForm.controls.newPassword.errors">
                    <div *ngIf="passwordForm.controls.newPassword.errors.required">
                        This field is required
                    </div>
                    <div *ngIf="passwordForm.controls.newPassword.errors.minlength">
                        Password must be at least 6 characters long
                    </div>
                </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-12 col-md-4 col-form-label text-md-right">Password Confirmation</label>
            <div class="col-sm-12 col-md-6">
                <input type="password" class="form-control" formControlName="passwordConfirmation" [class.invalid-input]="passwordForm.controls.passwordConfirmation.dirty && passwordForm.controls.passwordConfirmation.invalid">
                <div class="invalid-msg">
                    <div *ngIf="passwordForm.controls.passwordConfirmation.dirty && passwordForm.controls.passwordConfirmation.errors">
                        This field is required
                    </div>
                    <div *ngIf="passwordForm.controls.passwordConfirmation.dirty && passwordForm.hasError('passwordMismatch')">
                        Passwords don't match
                    </div>
                </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-12 col-md-10">
              <button type="submit" class="btn btn-success float-right" [validate-form]="passwordForm" (valid)="changePassword()"><i class="fa fa-lock"></i> Change Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>