$navbar-color: #1976d2;

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    overflow: auto;
    transition: all 0.3s;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);

    .user-view {
        padding: 32px 10px;
        background-color: $navbar-color;
    }

    .image {
        width: 50px;
    }

    .user-info {
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        font-weight: 500;
    }

    .truncate-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
    }

    .nav {
        a {
            color: #685757;
            font-size: 14px;
            font-weight: 500;
            line-height: 35px;
            border-bottom: solid 1px #ddd;
        }

        i {
            margin-right: 20px;
        }
    }

    li > a:hover {
        color: #007bff!important;
    }

    .active {
        border-right: solid 5px #007bff;
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.sidebar.toggle {
    margin-left: -250px;
}

.main-content {
    position: fixed;
    width: calc(100% - 250px);
    height: 100%;
    right: 0;
    overflow: auto;
    transition: all 0.3s;
}

.main-content.toggle {
    width: 100%;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.toggle {
        margin-left: 0px;
    }

    .main-content {
        width: 100%;
    }

    .main-content.toggle {
        width: calc(100% - 250px);
    }

    // .overlay {
    //     display: none;
    //     position: fixed;
    //     width: 100vw;
    //     height: 100vh;
    //     background: rgba(0, 0, 0, 0.7);
    //     z-index: 1998;
    //     opacity: 0;
    //     transition: all 0.5s ease-in-out;
    // }
    
    // .overlay.toggle {
    //     display: block;
    //     opacity: 0.5;
    // }
}