<page-header title="Product Form">
  <a class="breadcrumb-item" routerLink="/product">Products</a>
  <a class="breadcrumb-item">Form</a>
</page-header>

<div class="page-content">
  <div class="row">
    <div class="col-sm-12 col-md-10 offset-md-1">
      <div class="card">
        <div class="card-header">
          <strong>Product Form</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="productForm">
            <div class="form-row">
              <div class="form-group col-sm-12 col-md-6">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" [class.invalid-input]="productForm.controls.name.dirty && productForm.controls.name.invalid">
                <div class="invalid-msg" *ngIf="productForm.controls.name.dirty && productForm.controls.name.errors">
                  This field is required
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label>Description</label>
                <input type="text" class="form-control" formControlName="description">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-sm-12 col-md-6">
                <label>Number/Code</label>
                <input type="text" class="form-control" formControlName="code" [class.invalid-input]="productForm.controls.code.dirty && productForm.controls.code.invalid">
                <div class="invalid-msg" *ngIf="productForm.controls.code.dirty && productForm.controls.code.errors">
                  This field is required
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label>Barcode</label>
                <input type="text" class="form-control" formControlName="barcode">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-sm-12 col-md-6">
                <label>Maximum Stock</label>
                <input type="number" min="1" class="form-control" formControlName="maximumStock">
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label>Reorder Level</label>
                <input type="number" min="0" class="form-control" formControlName="reorderLevel">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-sm-12 col-md-6">
                <label>Profit Margin</label>
                <input type="number" min="0" max="1" step="0.1" class="form-control" formControlName="profitMargin"
                  [class.invalid-input]="productForm.controls.profitMargin.dirty && productForm.controls.profitMargin.invalid">
                <div class="invalid-msg" *ngIf="productForm.controls.profitMargin.dirty && productForm.controls.profitMargin.invalid">
                  <div *ngIf="productForm.controls.profitMargin.errors.required">
                    This field is required
                  </div>
                  <div *ngIf="productForm.controls.profitMargin.errors.min">
                    Value must be greater than or equal to 0
                  </div>
                  <div *ngIf="productForm.controls.profitMargin.errors.max">
                    Value must be less than or equal to 1
                  </div>
                </div>
              </div>

              <div class="form-group col-sm-12 col-md-6">
                <label>Product Category</label>
                <ng-select placeholder="Select Product Category" formControlName="productCategory" [items]="categories"
                  bindLabel="name" [clearable]="false" [class.invalid-input]="productForm.controls.productCategory.dirty && productForm.controls.productCategory.invalid">
                </ng-select>
                <div class="invalid-msg" *ngIf="productForm.controls.productCategory.dirty && productForm.controls.productCategory.errors">
                  This field is required
                </div>
              </div>
            </div>
            <hr>
          </form>

          <form [formGroup]="packageForm">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="table-responsive-sm">
                      <table class="table">
                          <thead>
                            <tr>
                              <th class="table-index">#</th>
                              <th>Package</th>
                              <th>Description</th>
                              <th>Quantity</th>
                              <th>Price</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let productPackage of productPackages; let i = index">
                              <td class="table-index">{{i + 1}}.</td>
                              <td>{{productPackage.pakage.name}}</td>
                              <td>{{productPackage.description}}</td>
                              <td>{{productPackage.quantity}}</td>
                              <td>{{productPackage.price}}</td>
                              <td>
                                <button type="button" class="btn btn-outline-danger btn-sm rounded-circle" (click)="deletePackage(productPackage, i)"><i
                                    class="fa fa-minus-circle"></i></button>
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td>
                                <ng-select formControlName="pakage" [items]="packages" bindLabel="name" [clearable]="false" appendTo="body" 
                                  placeholder="Select Package" [class.invalid-input]="packageForm.controls.pakage.dirty && packageForm.controls.pakage.invalid">
                                </ng-select>
                                <div class="invalid-msg" *ngIf="packageForm.controls.pakage.dirty && packageForm.controls.pakage.errors">
                                  This field is required
                                </div>
                              </td>
                              <td>
                                <input type="text" class="form-control" formControlName="description">
                              </td>
                              <td>
                                <input type="number" min="1" class="form-control" formControlName="quantity"
                                  [class.invalid-input]="packageForm.controls.quantity.dirty && packageForm.controls.quantity.invalid">
                                <div class="invalid-msg" *ngIf="packageForm.controls.quantity.dirty && packageForm.controls.quantity.errors">
                                  This field is required
                                </div>
                              </td>
                              <td>
                                <input type="number" min="1" class="form-control" formControlName="price"
                                  [class.invalid-input]="packageForm.controls.price.dirty && packageForm.controls.price.invalid">
                                <div class="invalid-msg" *ngIf="packageForm.controls.price.dirty && packageForm.controls.price.errors">
                                  This field is required
                                </div>
                              </td>
                              <td>
                                <button type="button" class="btn btn-outline-primary-custom btn-sm rounded-circle mt-1" [validateForm]="packageForm"
                                  (valid)="addPackage()"><i class="fa fa-plus"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="button" class="btn btn-danger float-right" (click)="remove(productForm.controls.id.value)"
            *ngIf="productForm.controls.id.value">
            <i class="fa fa-trash"></i> Delete
          </button>
          <button type="submit" class="btn btn-success" [validateForm]="productForm" (valid)="save()">
            <i class="fa fa-save"></i> Save
          </button>
          <button type="button" class="btn btn-secondary" (click)="closeForm()">
            <i class="fa fa-close"></i> Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>