<div class="row mt-3">
    <div class="col-12 col-sm-4">
        <div class="input-group mb-3 float-left">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Records per page</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="size" (ngModelChange)="doSizeChange()">
                <option *ngFor="let size of pageSizes" [ngValue]="size">{{size}}</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-sm-4 text-center">
        <div class="text-primary mt-1 mt-sm-2 mb-1">{{info}}</div>
    </div>
    <div class="col-12 col-sm-4">
        <button class="btn btn-light border border-dark float-right" (click)="doLoadMore()">Load More</button>
    </div>
</div>