<page-header title="Roles"></page-header>

<div class="page-content">
    <div class="row mb-4" *ngIf="!showForm">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" (click)="openForm()">
                <i class="fa fa-plus left"></i> Add Role</button>
        </div>
    </div>

    <div *ngIf="showForm">
        <form (ngSubmit)="save()">
            <div class="row">
                <div class="col-sm-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
                    <div class="card">
                        <div class="card-body mx-md-4">
                            <h5 class="card-title text-uppercase text-muted ml-md-n4">Role Form</h5><br>
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" [(ngModel)]="role.name" required>
                            </div>
                            <div class="form-group">
                                <label>Privileges</label>
                                <ng-select name="claims" [items]="claims$ | async" [multiple]="true"
                                    [closeOnSelect]="false" [(ngModel)]="role.claims">
                                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                        <input id="item-{{index}}" name="item-{{index}}" type="checkbox"
                                            [ngModel]="item$.selected" />
                                        {{item}}
                                    </ng-template>
                                    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
                                        <div class="ng-value" *ngFor="let item of items | slice:0:4">
                                            <span class="ng-value-label"> {{item}}</span>
                                            <span class="ng-value-icon right" (click)="clear(item)"
                                                aria-hidden="true">×</span>
                                        </div>
                                        <div class="ng-value" *ngIf="items.length > 4">
                                            <span class="ng-value-label">{{items.length - 4}} more...</span>
                                        </div>
                                    </ng-template>
                                </ng-select>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea rows="3" class="form-control" name="notes" [(ngModel)]="role.notes"></textarea>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-success float-right">
                                    <i class="fa fa-save"></i> Save</button>
                                <button type="button" class="btn btn-light border border-dark float-right" (click)="closeForm()">
                                    <i class="fa fa-close"></i> Cancel</button>
                                <button type="button" class="btn btn-danger float-left" (click)="remove(role.id)"
                                    *ngIf="role.id">
                                    <i class="fa fa-trash"></i> Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row" *ngIf="!showForm">
        <div class="col-sm-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th class="table-index">#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Privileges</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let role of roles$ | async; let i = index" class="pointer" (click)="selectRow(role)">
                                <td class="table-index">{{i + 1}}.</td>
                                <td>{{role.name}}</td>
                                <td>{{role.notes}}</td>
                                <td>{{role.claims.length}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>