<page-header title="{{model.label}}"></page-header>

<div class="page-content">
    <div class="row mb-4" *ngIf="!showForm">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary-custom" (click)="openForm()" *ngIf="!loading">
                <i class="fa fa-plus left"></i> Add {{model.label}}</button>
            <a class="btn btn-outline-secondary float-right" routerLink="/settings">
                <i class="fa fa-arrow-left"></i> Back
            </a>
            <loading class="float-right" text="Loading..." *ngIf="loading"></loading>
        </div>
    </div>

    <div *ngIf="showForm">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h6>{{title}}</h6>
                        </div>
                        <div class="card-body">
                            <!-- <a class="btn btn-flat float-right" title="Close" (click)="closeForm()">
                                    <i class="fa fa-close"></i>
                                </a> -->
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" formControlName="name" [class.invalid-input]="formGroup.controls.name.dirty && formGroup.controls.name.invalid">
                                <div class="invalid-msg" *ngIf="formGroup.controls.name.dirty && formGroup.controls.name.errors">
                                    This field is required
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea rows="3" class="form-control" formControlName="description"></textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-success" [validate-form]="formGroup" (valid)="save()">
                                <i class="fa fa-save"></i> Save</button>
                            <button type="button" class="btn btn-secondary" (click)="closeForm()">
                                <i class="fa fa-close"></i> Cancel</button>
                            <button type="button" class="btn btn-danger float-right" (click)="remove(formGroup.controls.id.value)"
                                *ngIf="formGroup.controls.id.value">
                                <i class="fa fa-trash"></i> Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </form><br>
    </div>

    <div class="row" *ngIf="!loading">
        <div class="col-sm-12">
            <div class="card table-responsive-sm">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th class="table-index">#</th>
                            <th>Name</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let record of records; let i = index" class="pointer" (click)="selectRow(record)">
                            <td class="table-index">{{i + 1}}.</td>
                            <td>{{record.name}}</td>
                            <td>{{record.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>