<page-header title="User Administration"></page-header>

<div class="page-content">
    <div class="row mb-4" *ngIf="!showForm">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" (click)="openForm()" *ngIf="!loading" #openBtn>
                <i class="fa fa-plus left"></i> Add User</button>
            <loading class="float-right" text="Loading..." *ngIf="loading"></loading>
        </div>
    </div>

    <div *ngIf="showForm">
        <form [formGroup]="userForm">
            <div class="card">
                <div class="card-header">
                    <h5>User Form</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Name
                                <i class="fa fa-asterisk text-danger"></i>
                            </label>
                            <input type="text" class="form-control" formControlName="name" [class.invalid-input]="userForm.controls.name.dirty && userForm.controls.name.invalid">
                            <div class="invalid-msg" *ngIf="userForm.controls.name.dirty && userForm.controls.name.errors">This field is required</div>
                        </div>

                        <div class="form-group col-sm-12 col-md-6">
                            <label>Email</label>
                            <input type="email" class="form-control" formControlName="email">
                            <p class="invalid-msg" *ngIf="userForm.controls.email.dirty && userForm.controls.email.errors">Email is invalid</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" formControlName="phoneNumber">
                        </div>

                        <div class="form-group col-sm-12 col-md-6">
                            <label>Username
                                <i class="fa fa-asterisk text-danger"></i>
                            </label>
                            <input type="text" class="form-control" formControlName="username" [class.invalid-input]="userForm.controls.username.dirty && userForm.controls.username.invalid">
                            <div class="invalid-msg" *ngIf="userForm.controls.username.dirty && userForm.controls.username.errors">
                                <div *ngIf="userForm.controls.username.errors.required">This field is required</div>
                                <div *ngIf="userForm.controls.username.errors.minlength">
                                    Username must be at least 6 characters long
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Password
                                <i class="fa fa-asterisk text-danger"></i>
                            </label>
                            <input type="password" class="form-control" formControlName="password" [class.invalid-input]="userForm.controls.password.dirty && userForm.controls.password.invalid">
                            <div class="invalid-msg" *ngIf="userForm.controls.password.dirty && userForm.controls.password.errors">
                                <div *ngIf="userForm.controls.password.errors.required">This field is required</div>
                                <div *ngIf="userForm.controls.password.errors.minlength">
                                    Password must be at least 6 characters long
                                </div>
                            </div>
                        </div>

                        <div class="form-group col-sm-12 col-md-6">
                            <label>Password Confirmation
                                <i class="fa fa-asterisk text-danger"></i>
                            </label>
                            <input type="password" class="form-control" formControlName="passwordConfirmation" [class.invalid-input]="userForm.controls.passwordConfirmation.dirty && userForm.controls.passwordConfirmation.invalid">
                            <div class="invalid-msg">
                                <div *ngIf="userForm.controls.passwordConfirmation.dirty && userForm.controls.passwordConfirmation.errors">This field is required</div>
                                <div *ngIf="userForm.controls.passwordConfirmation.dirty && userForm.hasError('passwordMismatch')">Passwords don't match</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label>Role
                                <i class="fa fa-asterisk text-danger"></i>
                            </label>
                            <select class="form-control" formControlName="role" [compareWith]="compareRoles" [class.invalid-input]="userForm.controls.role.dirty && userForm.controls.role.invalid">
                                <option value="">Select Role</option>
                                <option *ngFor="let role of roles" [ngValue]="role">{{role.name}}</option>
                            </select>
                            <div class="invalid-msg" *ngIf="userForm.controls.role.dirty && userForm.controls.role.errors">This field is required</div>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-danger float-right" (click)="remove(userForm.controls.id.value)" *ngIf="userForm.controls.id.value">
                        <i class="fa fa-trash"></i> Delete
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="closeForm()">
                        <i class="fa fa-close"></i> Cancel
                    </button>
                    <button type="submit" class="btn btn-success" [validate-form]="userForm" (valid)="save()">
                        <i class="fa fa-save"></i> Save
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row" *ngIf="!showForm && !loading">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th class="table-index">#</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users; let i = index" class="pointer" (click)="selectRow(user)">
                            <td class="table-index">{{i + 1}}.</td>
                            <td>{{user.name}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phoneNumber}}</td>
                            <td>{{user.role.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>