/* You can add global styles to this file, and also import other style files */
$navbar-color: #1976d2;
$navbar-text-color: #fff;

body {
    padding-top: 56px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 16px;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    padding-top: 100px;
    padding-right: 10px;
    border-left: 1px solid #F9F9F9;
    border-right: 1px solid #F9F9F9;
    -ms-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #d0cece;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}


::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
    -ms-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #F5F5F5;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
}

.navbar-color {
    background-color: $navbar-color !important;
    color: $navbar-text-color !important;

    .btn {
        background-color: $navbar-color !important;
    }

    .nav-link {
        color: $navbar-text-color !important;
    }
}

.wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    overflow: auto;
    transition: all 0.3s;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);

    .user-view {
        padding: 32px 10px;
        background-color: $navbar-color;
    }

    .image {
        width: 50px;
    }

    .user-info {
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        font-weight: 500;
    }

    .truncate-text {
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
    }

    .nav {
        a {
            color: #685757;
            font-size: 14px;
            font-weight: 500;
            line-height: 35px;
            border-bottom: solid 1px #ddd;
        }

        i {
            margin-right: 20px;
        }
    }

    li > a:hover {
        color: #007bff!important;
    }

    .active {
        border-right: solid 5px #007bff;
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.sidebar.toggle {
    margin-left: -250px;
}

.main-content {
    width: calc(100% - 250px);
    position: fixed;
    right: 0;
    transition: all 0.3s;
}

.main-content.toggle {
    width: 100%;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }

    .sidebar.toggle {
        margin-left: 0px;
    }

    .main-content {
        width: 100%;
    }

    .main-content.toggle {
        width: calc(100% - 250px);
    }

    // .overlay {
    //     display: none;
    //     position: fixed;
    //     width: 100vw;
    //     height: 100vh;
    //     background: rgba(0, 0, 0, 0.7);
    //     z-index: 1998;
    //     opacity: 0;
    //     transition: all 0.5s ease-in-out;
    // }
    
    // .overlay.toggle {
    //     display: block;
    //     opacity: 0.5;
    // }
}



.page-header {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e4e5e7;
    /* border-radius: 4px; */
    box-shadow: 0px 1px 9px #ddd !important;
}

.page-content {
    padding-left: 10px;
    padding-right: 10px;
}

.pointer {
    cursor: pointer;
}

.table-index {
    width: 40px;
    text-align: center;
}